build/
build_vs_debug/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*env*
*.obj
meshtaichi_patcher_core*.pyd
meshtaichi_patcher_core*.pdb

example/bunny
**/imgui.ini
example/**/models
exp
logs/*
!logs/.gitkeep
